[submodule "lxx-calendar-quotes/sentences"]
	path = lxx-calendar-quotes/sentences
	url = https://github.com/hitokoto-osc/sentences-bundle.git
[submodule "lxx-calendar-graphics/WeatherIcons"]
	path = lxx-calendar-graphics/WeatherIcons
	url = https://github.com/qwd/Icons.git
[submodule "libs/sxtwl-rs"]
	path = libs/sxtwl-rs
	url = https://github.com/AmnesiaBeing/sxtwl-rs.git
[submodule "libs/epd"]
	path = libs/epd
	url = https://github.com/AmnesiaBeing/epd-yrd0750ryf665f60
[submodule "libs/linux-embedded-hal"]
	path = libs/linux-embedded-hal
	url = https://github.com/AmnesiaBeing/linux-embedded-hal.git
