[package]
name = "epd_calendar"
version = "0.1.0"
edition = "2024"

[features]
default = []
simulator = ["env_logger", "embedded-hal-mock", "epd-waveshare/simulator"]
embedded_linux = ["linux-embedded-hal", "env_logger"]

[profile.release]
# 优化编译大小
opt-level = "z"

[dependencies]
chrono = "0.4.41"
embedded-hal = "1.0.0"
log = "0.4.27"
thiserror = "2.0.12"
rand = "0.9.2"

# PC端依赖
embedded-hal-mock = { path = "./../embedded-hal-mock/", optional = true}
env_logger = { version = "0.11.8", optional = true}

# 嵌入式Linux端依赖
libc = { version = "0.2.174", optional = true }
linux-embedded-hal = { version = "0.4.0", optional = true }

# 嵌入式STM32、ESP32等依赖
littlefs2 = { version = "0.6.1", optional = true }

# 核心图形库 - 只声明一次
embedded-graphics = "0.8.1"

epd-waveshare = { path = "./../epd-waveshare/", features = []}
bitbang-hal = { path = "./../bitbang-hal/" }