[package]
name = "epd_calendar"
version = "0.1.0"
edition = "2024"

# [[bin]]
# name = "epd_calendar"
# path = "./src/app/main.rs"

[features]
default = ["simulator"]
simulator = [
    "embedded-hal-mock",
    "epd-waveshare/simulator",
    "embassy-sync/log",
    "embassy-executor/arch-std",
    "embassy-executor/executor-thread",
    "embassy-executor/log",
    "embassy-time/std",
    "embassy-time/log",
    "embassy-net/log",
    "env_logger",
]
embedded_linux = [
    "linux-embedded-hal",
    "bitbang-hal",
    "embassy-sync/log",
    "embassy-executor/arch-std",
    "embassy-executor/executor-thread",
    "embassy-executor/log",
    "embassy-time/std",
    "embassy-time/log",
    "embassy-net/log",
    "env_logger",
]
embedded_esp = []

[profile.release]
# 优化编译大小
opt-level = "z"

# [profile.dev.package.esp-radio]
# opt-level = 3

[dependencies]
chrono = "0.4.41"
embedded-hal = "1.0.0"
log = "0.4.27"
thiserror = "2.0.12"
embedded-graphics = "0.8.1"

embassy-sync = { version = "0.7.2", default-features = false }
embassy-executor = { version = "0.9.1", default-features = false }
embassy-time = { version = "0.5.0", default-features = false }
embassy-net = { version = "0.7.1", default-features = false }

epd-waveshare = { path = "./../epd-waveshare/", features = [] }
sntpc = { version = "0.6.1", features = ["embassy-socket"] }
defmt = "1.0.1"

# PC端依赖
embedded-hal-mock = { path = "./../embedded-hal-mock/", optional = true }

# 嵌入式Linux端依赖
libc = { version = "0.2.174", optional = true }
linux-embedded-hal = { version = "0.4.0", optional = true }
bitbang-hal = { path = "./../bitbang-hal/", optional = true }
env_logger = { version = "0.11.8", optional = true }

# 嵌入式ESP32依赖
log-to-defmt = { version = "0.1.0", optional = true }

# esp-hal = { version = "0.23.1", optional = true, features = ["esp32c6"]}

# [dependencies.esp-radio]
# A supported chip needs to be specified, as well as specific use-case features
# features = ["esp32c6", "wifi", "esp-alloc"]
# [dependencies.esp-rtos]
# features = ["esp32c6", "esp-radio", "esp-alloc"]
# [dependencies.esp-alloc]
# features = ["esp32c6"]
