[package]
name = "epd_calendar"
version = "0.1.0"
edition = "2024"

[[bin]]
name = "epd_calendar"
path = "src/main.rs"
test = false
doctest = false
bench = false

[features]
default = ["esp32"]
simulator = [
    "critical-section/std",
    "embedded-hal-mock",
    "embedded-storage-std-async-mock",
    "embassy-sync/log",
    "embassy-sync/std",
    "embassy-executor/arch-std",
    "embassy-executor/executor-thread",
    "embassy-executor/log",
    "embassy-time/std",
    "embassy-time/log",
    "embassy-net/log",
    "embassy-net-tuntap",
    "getrandom/std",
    "jiff/std",
    "env_logger",
    "heapless_08",
]
tspi = [
    "critical-section/std",
    "linux-embedded-hal",
    "embedded-storage-std-async-mock",
    "embassy-sync/log",
    "embassy-sync/std",
    "embassy-executor/arch-std",
    "embassy-executor/executor-thread",
    "embassy-executor/log",
    "embassy-time/std",
    "embassy-time/log",
    "embassy-net/log",
    "embassy-net-tuntap",
    "getrandom/std",
    "jiff/std",
    "env_logger",
    "heapless_08",
]
esp32 = [
    "esp-rtos",
    "esp-radio",
    "esp-hal",
    "esp-alloc",
    "esp-println",
    "esp-storage",
    "esp-backtrace",
    "esp-sync",
    "esp-bootloader-esp-idf",
    "getrandom",
    "rtt-target",
    "panic-rtt-target",
    "sht25",
]
embedded_graphics_simulator = ["epd-waveshare/simulator"]
spi_bitbang = ["bitbang-hal"]

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true
overflow-checks = false
debug-assertions = false
incremental = false      # 禁用增量编译

[profile.dev]
opt-level = 2
# incremental = false # 禁用增量编译
# panic = 'abort'

[build-dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
walkdir = "2.5"
freetype-rs = { version = "*", features = ["bundled"] }
anyhow = "1.0"
unicode-normalization = "0.1"
usvg = "0.36"
resvg = "0.36"
heapless = { version = "0.9", features = ["serde"] }
postcard = { version = "1.1", features = ["use-std"] }
rayon = "1.11.0"
chrono = "0.4.42"
html_parser = "0.7.0"
scraper = "0.25.0"

[dependencies]
# 核心依赖
log = { version = "0.4", default-features = false }
thiserror = { version = "2.0", default-features = false }
async-trait = "0.1.89"

# 嵌入式相关依赖
embedded-hal = "=1.0"
embedded-hal-bus = "0.3.0"
embedded-hal-async = "1.0.0"
embedded-graphics = "0.8"
embedded-io = "0.7"
embedded-io-async = "0.7"
embedded-storage = "0.3"
embedded-storage-async = "0.4"
embedded-svc = { version = "0.28", default-features = false }

# 无标准库数据结构
static_cell = "2.1"
critical-section = "1.2"
heapless = { version = "0.9", default-features = false, features = ["serde"] }
heapless_08 = { package = "heapless", default-features = false, optional = true, version = "0.8" }

# Embassy框架
embassy-sync = { version = "0.7", default-features = false }
embassy-executor = { version = "0.9", default-features = false }
embassy-time = { version = "0.5", default-features = false }
embassy-net = { version = "0.7", default-features = false, features = [
    "udp",
    "tcp",
    "dns",
    "proto-ipv4",
    "medium-ethernet",
    "dhcpv4",
] }
embassy-embedded-hal = { version = "0.5.0", default-features = false }
embassy-net-tuntap = { version = "0.1.0", optional = true }

# 序列化/反序列化
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
serde = { version = "1.0", default-features = false, features = [
    "alloc",
    "derive",
] }
postcard = { version = "1.1", default-features = false, features = ["alloc"] }

# 网络相关
reqwless = { version = "0.13.0", default-features = false, features = [
    "embedded-tls",
    "alloc",
    "log",
] }
sntpc = { version = "0.7", default-features = false, features = [
    "embassy-socket",
] }

# GZip解压
miniz_oxide = "0.8.9"

# 随机数相关（esp-hal支持getrandom作为外部接口使用）
getrandom = { version = "0.3", optional = true, default-features = false }

# 电子墨水屏驱动
epd-waveshare = { path = "./../epd-waveshare/", features = [] }

# 温度传感器驱动
sht25 = { version = "0.2.0", optional = true }

# 中国阳历阴历转换
sxtwl-rs = { path = "./../sxtwl-rs/", features = ["holiday", "festival"] }

# 时间相关
jiff = { version = "0.2.16", default-features = false, features = ["alloc"] }

# 二维码生成，注意只有最新版本才支持no_std
qrcode = { git = "https://github.com/kennytm/qrcode-rust", default-features = false }

# PC端依赖
embedded-hal-mock = { path = "./../embedded-hal-mock/", optional = true }
embedded-storage-std-async-mock = { path = "./../embedded-storage-std-mock/embedded-storage-std-async-mock", optional = true }

# 嵌入式Linux端依赖
libc = { version = "0.2", optional = true }
linux-embedded-hal = { version = "0.4", optional = true }
bitbang-hal = { path = "./../bitbang-hal/", optional = true }
env_logger = { version = "0.11", optional = true }

# ESP32C6特定依赖
esp-hal = { version = "1.0", optional = true, features = [
    "esp32c6",
    "unstable",
] }
esp-alloc = { version = "0.9", optional = true }
esp-rtos = { version = "0.2", optional = true, features = [
    "esp-radio",
    "embassy",
    "esp32c6",
] }
esp-bootloader-esp-idf = { version = "0.4", optional = true, features = [
    "esp32c6",
] }
esp-println = { version = "0.16", optional = true, features = [
    "esp32c6",
    "log-04",
] }
esp-backtrace = { version = "0.18", optional = true, features = [
    "esp32c6",
    "println",
    "panic-handler",
] }
esp-radio = { version = "0.17.0", optional = true, features = [
    "esp32c6",
    "wifi",
    "esp-alloc",
    "unstable",
] }
esp-sync = { version = "0.1.1", optional = true, features = ["esp32c6"] }
esp-storage = { version = "0.8.1", optional = true, features = ["esp32c6"] }
panic-rtt-target = { version = "0.2.0", optional = true }
rtt-target = { version = "0.6.2", optional = true, features = ["log"] }
