[package]
name = "epd_calendar"
version = "0.1.0"
edition = "2024"

[features]
default = ["embedded_linux"]
simulator = [
    "critical-section/std",
    "critical-section/std",
    "embedded-hal-mock",
    "embedded-storage-std-async-mock",
    "epd-waveshare/simulator",
    "embassy-sync/log",
    "embassy-sync/std",
    "embassy-executor/arch-std",
    "embassy-executor/executor-thread",
    "embassy-executor/log",
    "embassy-time/std",
    "embassy-time/log",
    "embassy-net/log",
    "env_logger",
]
embedded_linux = [
    "critical-section/std",
    "linux-embedded-hal",
    "embedded-storage-std-async-mock",
    "embassy-sync/log",
    "embassy-sync/std",
    "embassy-executor/arch-std",
    "embassy-executor/executor-thread",
    "embassy-executor/log",
    "embassy-time/std",
    "embassy-time/log",
    "embassy-net/log",
    "env_logger",
]
embedded_esp = []
spi_bitbang = ["bitbang-hal"]

[profile.release]
# 优化编译大小
opt-level = "z"

# [profile.dev.package.esp-radio]
# opt-level = 3

[build-dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
walkdir = "2.5"
freetype-rs = { version = "*", features = ["bundled"] }
anyhow = "1.0"
unicode-normalization = "0.1"
usvg = "0.36"
resvg = "0.36"

[dependencies]
chrono = "0.4.41"
log = "0.4.27"
thiserror = "2.0.12"

sequential-storage = "5.0.1"

embedded-hal = "1.0.0"
embedded-graphics = "0.8.1"
embedded-io-async = "0.7.0"
embedded-storage = "0.3.1"
embedded-storage-async = "0.4.1"

static_cell = "2.1.1"
critical-section = "1.2.0"
embassy-sync = { version = "0.7.2", default-features = false }
embassy-executor = { version = "0.9.1", default-features = false }
embassy-time = { version = "0.5.0", default-features = false }
embassy-net = { version = "0.7.1", default-features = false, features = ["udp", "tcp", "dns", "proto-ipv4", "dhcpv4"] }
embassy-net-tuntap = "0.1.0"
critical-section = "1.2.0"

reqwless = "0.13.0"
embedded-svc = { version = "0.28.1", default-features = false }

static_cell = "2.1.1"
heapless = { version = "0.8", default-features = false, features = ["serde"] }

epd-waveshare = { path = "./../epd-waveshare/", features = [] }
sntpc = { version = "0.7.0", default-features = false, features = ["embassy-socket"] }
defmt = "1.0.1"

serde = { version = "1.0", default-features = false, features = ["alloc", "derive"] }
serde_json = "1.0"

sxtwl-rs = { path = "./../sxtwl-rs/" }

# PC端依赖
embedded-hal-mock = { path = "./../embedded-hal-mock/", optional = true }
# embedded-storage-std-mock = { path = "./../embedded-storage-std-mock", optional = true}
embedded-storage-std-async-mock = { path = "./../embedded-storage-std-mock/embedded-storage-std-async-mock", optional = true }

# 嵌入式Linux端依赖
libc = { version = "0.2.174", optional = true }
linux-embedded-hal = { version = "0.4.0", optional = true }
bitbang-hal = { path = "./../bitbang-hal/", optional = true }
env_logger = { version = "0.11.8", optional = true }

# 嵌入式ESP32依赖
log-to-defmt = { version = "0.1.0", optional = true }

# esp-hal = { version = "0.23.1", optional = true, features = ["esp32c6"]}

# [dependencies.esp-radio]
# A supported chip needs to be specified, as well as specific use-case features
# features = ["esp32c6", "wifi", "esp-alloc"]
# [dependencies.esp-rtos]
# features = ["esp32c6", "esp-radio", "esp-alloc"]
# [dependencies.esp-alloc]
# features = ["esp32c6"]
